<IfModule mod_rewrite.c>
    RewriteEngine on
    <files .env>
        order allow,deny
        deny from all
    </files>



    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]


</IfModule>

