* {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.btn {
    padding: 7px 10px;
    text-decoration: none;
    border: none;
    display: block;
    text-align: center;
    margin: 7px;
    cursor: pointer;
}

.btn-info {
    background-color: #999;
    color: #FFF;
}

.btn-primary {
    background-color: #6449e7;
    color: #FFF;
    width: 100%;
}

td,
th,
tr,
table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dotted #ddd;
}

td,
th {
    padding: 7px 0;
    width: 50%;
}

table {
    width: 100%;
}

tfoot tr th:first-child {
    text-align: left;
}

.centered {
    text-align: center;
    align-content: center;
}

small {
    font-size: 11px;
}

@media print {
    * {
        font-size: 12px;
        line-height: 20px;
    }

    td,
    th {
        padding: 5px 0;
    }

    .hidden-print {
        display: none !important;
    }

    @page {
        margin: 1.5cm 0.5cm 0.5cm;
    }

    @page: first {
        margin-top: 0.5cm;
    }

    /*tbody::after {
        content: ''; display: block;
        page-break-after: always;
        page-break-inside: avoid;
        page-break-before: avoid;
    }*/
}
